parameters:
	level: max
	ignoreErrors:
		-
			message: '#Construct empty\(\) is not allowed\. Use more strict comparison\.#'
			path: src/Model/UploadController.php

includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

