includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 8
	phpVersion: 80200

	paths:
		- src

	scanDirectories:
		- vendor/nette
		- vendor/tracy

	ignoreErrors:
		-
			message: '#Construct empty\(\) is not allowed\. Use more strict comparison\.#'
			path: src/Model/UploadController.php
		-
			identifier: assign.propertyType
			path: src/Model/UploadController.php

