.zet-fileupload-table td {
	vertical-align: middle !important;
}

.zet-fileupload-table td.preview {
	width: 90px;
	text-align: center !important;
}

.zet-fileupload-table td.file-progress {
	width: 200px;
}

.zet-fileupload-table td.file-progress .progress {
	margin-bottom: 0px;
}

.zet-fileupload-table td.buttons {
	width: 50px;
	text-align: center !important;
}

.zet-fileupload-table {
	margin-top: 0px;
}

.zet-fileupload-progress {
	margin-bottom: 0px;
}

.progress-sm {
	height: 10px;
	margin-bottom: 0px;
}

.progress-sm span {
	display: none;
}

.well.well-sm.zet-fileupload-file p.progress {
	margin-bottom: 0px;
}

.well.well-sm.zet-fileupload-file .filename {
	max-width: 80%;
	word-wrap: inherit;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 10px;
}

.well.well-sm.zet-fileupload-file .filename.alert {
	word-wrap: break-word;
	overflow: visible;
}