.zet-fileupload-table td {
	vertical-align: middle !important;
}

.zet-fileupload-table td.preview {
	width: 90px;
	text-align: center !important;
}

.zet-fileupload-table td.file-progress {
	width: 200px;
}

.zet-fileupload-table td.file-progress .progress {
	margin-bottom: 0px;
}

.zet-fileupload-table td.buttons {
	width: 50px;
	text-align: center !important;
}